<div class="dialog-container">
    <h1 mat-dialog-title>{{ data.id ? 'Edit Appointment' : 'Add Appointment' }}</h1>
    <div [formGroup]="appointmentForm">
        <div mat-dialog-content>
            <mat-form-field class="form-field">
                <mat-label>Title</mat-label>
                <input formControlName="title" matInput />
            </mat-form-field>
            <mat-form-field class="form-field">
                <mat-label>Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date" />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="actions">
            <button mat-stroked-button (click)="onNoClick()">
                Cancel
            </button>
            @if(data.id){
            <button mat-stroked-button class="delete-button" (click)="onDeleteClick()">
                Delete
            </button>}
            <button type="submit" mat-stroked-button (click)="onSaveClick()">
                {{ data.id ? 'Save Changes' : 'Add Appointment' }}
            </button>
        </div>
    </div>
</div>